@model DoAnWebBanGiay.Models.ViewModel.ShoesViewModel
@using DoAnWebBanGiay.Extensions
@{
    ViewData["Title"] = "Edit";
}
<br />
<script src="http://code.jquery.com/jquery-2.1.1.js"></script>
<script>
    function validate() {
        $("#file_error").html("");
        $(".demoInputBox").css("border-color", "#F0F0F0");
        var file_size = $('#file')[0].files[0].size;
        if (file_size > 2097152) {
            $("#file_error").html("File size is greater than 2MB");
            $(".demoInputBox").css("border-color", "#FF0000");
            return false;
        }
        return true;
    }
</script>
<h2 class="text-info">Edit Shoes</h2>
<form method="post"  asp-antiforgery="true" enctype="multipart/form-data">
    <div class="p-4 border rounded row">
        <div class="col-8">
            <input type="hidden" asp-for="Shoes.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Shoes.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Shoes.Name" class="form-control" />
                </div>
                <span asp-validation-for="Shoes.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Shoes.Color"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Shoes.Color" class="form-control" />
                </div>
                <span asp-validation-for="Shoes.Color" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Shoes.Size"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Shoes.Size" class="form-control" />
                </div>
                <span asp-validation-for="Shoes.Size" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Shoes.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Shoes.Price" class="form-control" />
                </div>
                <span asp-validation-for="Shoes.Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Shoes.Image"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="file" class="form-control" id="file" /><span id="file_error"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Shoes.Available"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" asp-for="Shoes.Available" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Shoes.ProviderShoes"></label>
                </div>
                <div class="col-8">
                    @for (int i = 0; i < Model.providers.Count(); i++)
                    {
                        @Html.EditorFor(m => Model.providers[i].Checked)
                        @Html.DisplayFor(m => Model.providers[i].Name)
                        @Html.HiddenFor(m => Model.providers[i].Id)
                        @Html.HiddenFor(m => Model.providers[i].Name)
                        <br />
                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="shoeTypes"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.Shoes.ShoeTypeID" asp-items="Model.shoeTypes.ToSelectListItem(Model.Shoes.ShoeTypeID)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="brands"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.Shoes.BrandID" asp-items="Model.brands.ToSelectListItem(Model.Shoes.BrandID)" class="form-control"></select>
                </div>
            </div>
            <br />
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="@Model.Shoes.Image" alt="No Image" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



