@model IEnumerable<DoAnWebBanGiay.Models.Shoes>
@{
    ViewData["Title"] = "Index";
}
<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Shoes List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Shoes</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Color)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Size)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Available)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ShoeTypes)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Brands)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Color)
            </td>
            <td>
                @Html.DisplayFor(m => item.Price)
            </td>
            <td>
                @Html.DisplayFor(m => item.Size)
            </td>
            <td>
                @Html.DisplayFor(m => item.Available)
            </td>
            <td>
                @Html.DisplayFor(m => item.ShoeTypes.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Brands.Name)
            </td>
            <td>
                <partial name="_TableButtonPartial" model="item.Id" />
            </td>
        </tr>
        }
    </table>
</div>



